.App {
  display: grid;
}
.box {
  /* border: 1px solid black; */
}
.cities {
  grid-area: citiesOne;
  background-color: black;
}
.heading {
  grid-area: heading;
  text-align: center;
}
.map {
  grid-area: mapOne;
}
.searchBar {
  grid-area: searchBarOne;
}
@media screen and (min-width: 700px) {
  .container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px 10px;
    grid-template-rows: 50px auto;
    grid-template-areas:
      "heading heading heading heading"
      "searchBarOne mapOne mapOne mapOne"
      "citiesOne mapOne mapOne mapOne";
  }
}
